/* create.module.css */

.create {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    text-align: center;
}

.formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
  }
  
  .checkboxGroup {
    display: flex;
    align-items: center;
  }
  
  .checkboxLabel {
    margin-right: 10px;
  }

.formGroup label {
    margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="datetime-local"],
.formGroup textarea,
.formGroup input[type="file"],
.formGroup input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.createButton {
    background-color: #007bff;
    color: white;
    padding: 10px 56px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createButton:hover {
    background-color: #0056b3;
}
  