/* signup.module.css */

.signup {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    text-align: center;
}
  
.formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
  
.signupLink {
    margin-bottom: 20px;
}
  
.signupLink a {
    color: blue;
}
  
.signupButton {
    background-color: #077efd;
    color: white;
    padding: 10px 56px;
    cursor: pointer;
}
  
.googleButton {
    background-color: #df483b;
    color: white;
    padding: 10px 20px;
}
  
.googleButton, .signupButton {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    opacity: 0.9;
    transition: transform 0.3s, opacity 0.3s;
}
  
.signupButton:hover, .googleButton:hover {
    transform: translateY(-3px);
    opacity: 1;
}
  