.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: maroon;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 35px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.nav .list {
  list-style-type: none;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 17px;
}

.nav li {
  position: relative;
  float: left;
  display: block;
  padding: 20px 40px;
  margin: 0;
  background-color: maroon;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li:hover, .nav .dropdown li:hover {
  cursor: pointer;
  background-color: darkred;
}

.nav .dropdownContent {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  white-space: nowrap;
}

.nav .dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
}