.addReview {
    padding: 15px 0;
    margin: 10px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addReview textarea {
    width: 100%;
    resize: none;
}

.addReview .ratingButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addReview .ratingButtonContainer Button {
    background-color: #077efd;
    color: white;
    padding: 10px 45px;
    cursor: pointer;

    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    opacity: 0.9;
    transition: transform 0.3s, opacity 0.3s;
}

.addReview .ratingButtonContainer Button:hover {
    transform: translateY(-3px);
    opacity: 1;
}
